
.block-hydra_slideshow {
  margin-bottom: 3em;
}
.block-hydra_slideshow .content {
  height: 300px;
  width: 584px;
  position: relative;  
}

#hydra-player {	
	width: 350px;
	height: 263px;
  position: absolute;
  top: 5px;
  left: 5px;
}

#hydra-player-embed {
  position: absolute;
  width: 350px;
  top: 279px;
  padding: 0 6px;
  font-size: 85%;
}
#hydra-player-embed label {
  float: left;
  line-height: 20px;
  margin-right: 7px;
}
#hydra-player-embed input {
  width: 345px;
  z-index: 1000;
}
#hydra-player-embed p {
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 5px 0;
  line-height: 1.2em;
}
#hydra-player-embed ul {
  margin: 0;
  display: none;
  z-index: 1000;
  padding: 0 0 5px 0;
}
#hydra-player-embed li {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0;
}

.block-hydra_slideshow .view {
  width: 220px;
  height: 300px;  
  position: absolute;
  right: 5px;
  top: 0;
}
.block-hydra_slideshow .view .item-list {
  float: right;
  width: 205px;
}
.block-hydra_slideshow .view .item-list .pager {
  margin: 4px auto 0 auto;
  padding: 0;
  width: 150px;
}
.block-hydra_slideshow .view .item-list .pager li {
  margin: 0;
  background: none;
  text-align: center;  
  height: 19px;
  line-height: 18px;
  float: left;
}
.block-hydra_slideshow .view .item-list .pager li.pager-previous {
  padding: 0;
  width: 20px;  
}
.block-hydra_slideshow .view .item-list .pager li.pager-current {
  padding: 0;
  margin: 0 2px;
  width: 100px;
  font-size: 0.8em;  
}
.block-hydra_slideshow .view .item-list .pager li.pager-next {
  padding: 0;
  width: 20px;  
}
.block-hydra_slideshow .view .item-list .pager li a {
  padding: 0;
  width: 20px;
  height: 19px;  
  font-weight: bold;
  line-height: 19px;
  float: left;
  text-decoration: none;
}

.block-hydra_slideshow .jcarousel-container {
  height: 273px;  
}
.block-hydra_slideshow .jcarousel-clip-vertical {
  width: 220px;
  height: 234px;
  top: 20px;
}

#playlist-wrapper {
  width: 220px;
  height: 273px; 
  color: #FFFFFF;
}

#playlist {
  padding: 0;
}
#playlist li {
  float: none;
  width: 210px;
  font-size: 0.9em;
  height: 47px;
  margin: 0 0 2px 0;
  overflow: hidden;
  padding: 5px;
  cursor: pointer;  
  line-height: 13px;
}
#playlist li img {
  display: block;
  float: left;
  width: 56px;
  height: 41px;
  margin: 1px 5px 0 15px;
}

#playlist li.no_image {
  padding-left: 20px;
}
#playlist li.no_image img {
  display: none;
}


/**
 *  Vertical Buttons
 */
.jcarousel-next-vertical {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 205px;
  height: 19px;
  cursor: pointer;
}

.jcarousel-next-disabled-vertical,
.jcarousel-next-disabled-vertical:hover,
.jcarousel-next-disabled-vertical:active {
  cursor: default;
}

.jcarousel-prev-vertical {
  position: absolute;
  top: 0;
  right: 0;
  width: 205px;
  height: 19px;
  cursor: pointer;
}

.jcarousel-prev-disabled-vertical,
.jcarousel-prev-disabled-vertical:hover,
.jcarousel-prev-disabled-vertical:active {
  cursor: default;
}
