
/**
 * Slideshow embed stylesheets.
 *
 * Flash supports a subset of the CSS standard for styling HTML tags:
 * http://www.flowplayer.org/plugins/flash/content.html#css
 *
 * The same applies to HTML:
 * http://www.flowplayer.org/plugins/flash/content.html#tags
 *
 * The following selectors might be used to configure some parts:
 *
 * #canvas
 *   Defines the embed background, header text included.
 * #logo
 *   The logo to be shown in the footer.
 * #footer
 *   It's the area at the bottom, below the player. 
 */

#canvas {
  color: #FFFFFF;  
  background-color: #393939;
}
#footer {
  color: #FFFFFF;
  background-color: #393939;
}

p {
  font-size: 12; /* Do not use any unit, px will be automatically used  */
  color: #FFFFFF;
  text-align: center;
}
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
