
.block-hydra_slideshow .content {
  background: #393939 url(images/bg.png) repeat-x 0 0;
}

#hydra-player-embed {
  color: #999999;
  background: #393939;  
}
#hydra-player-embed label {
  color: #EEEEEE;
}
#hydra-player-embed input {
  color: #333333;
  background: #F0F0F0;
}
#hydra-player-embed p:hover {
  color: #FFFFFF;
}

.block-hydra_slideshow .view .item-list .pager li.pager-current {
  background: #F0F0F0;  
  color: #333333;
}
.block-hydra_slideshow .view .item-list .pager li a {
  color: #FFFFFF;
  background: #666666;
}
.block-hydra_slideshow .view .item-list .pager li a:hover {
  background: #999999;
}

#playlist-wrapper.waiting {
  background: url(images/ajax-loader.gif) no-repeat 50% 50%;
}

#playlist li {
  background: url(images/item.png) no-repeat;
  color: #FFFFFF;
}
#playlist li img {
  border: 2px solid #666666;
}
#playlist li:hover {
  background-position: 0 -118px;
}
#playlist li.playing,
#playlist li.paused,
#playlist li.progress {
  background-position: 0 -59px;
  color: #333333;
}


/**
 *  Vertical Buttons
 */
.block-hydra_slideshow .jcarousel-next-vertical {
  background: url(images/down_arrow.png) no-repeat;
}

.block-hydra_slideshow .jcarousel-next-vertical:hover {
  background-position: 0 -19px;
}

.block-hydra_slideshow .jcarousel-next-vertical:active {
  background-position: 0 -38px;
}

.block-hydra_slideshow .jcarousel-next-disabled-vertical,
.block-hydra_slideshow .jcarousel-next-disabled-vertical:hover,
.block-hydra_slideshow .jcarousel-next-disabled-vertical:active {
  background-position: 0 -57px;
}

.block-hydra_slideshow .jcarousel-prev-vertical {
  background: url(images/up_arrow.png) no-repeat;  
}

.block-hydra_slideshow .jcarousel-prev-vertical:hover {
  background-position: 0 -19px;
}

.block-hydra_slideshow .jcarousel-prev-vertical:active {
  background-position: 0 -38px;
}

.block-hydra_slideshow .jcarousel-prev-disabled-vertical,
.block-hydra_slideshow .jcarousel-prev-disabled-vertical:hover,
.block-hydra_slideshow .jcarousel-prev-disabled-vertical:active {
  background-position: 0 -57px;
}
